<h3>Ejemplo de tab</h3><hr>
<div class="card"><div class="card-body">
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Contact</button>
  </li>
</ul>
<div class="tab-content mt-2" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Nam erat eros, commodo sodales est eu, dictum finibus orci. Nulla a laoreet nunc, ut porttitor mi. Quisque vel dolor auctor justo venenatis varius. Vestibulum tempor eleifend ante quis gravida. Integer ante sem, auctor ut diam scelerisque, consectetur maximus dui. Sed lorem mauris, tempor eu augue in, efficitur iaculis ipsum. Etiam leo nisi, pellentesque in nunc vitae, pretium ultrices libero. Pellentesque ac sapien ultrices, consectetur ipsum non, malesuada eros. Sed convallis velit quis ex efficitur euismod. Integer euismod sapien felis, ac pellentesque nisi tincidunt eget. Mauris ut semper diam.</div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Aliquam eu interdum orci. Nunc turpis massa, gravida vitae sem eu, volutpat consequat massa. Aenean tincidunt eu elit nec consequat. Fusce odio ipsum, tristique tempor mattis vitae, gravida id orci. Fusce pharetra nulla risus, molestie rhoncus nisi iaculis porta. Proin lacus leo, rhoncus at convallis vestibulum, fringilla tincidunt nisi. Cras ac lacus laoreet, tempus neque ullamcorper, dapibus dui. Nam quam tortor, imperdiet vitae lacinia ut, feugiat malesuada ipsum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vestibulum quis urna egestas, tempor magna vel, porta purus. Mauris a nulla id lorem vulputate convallis. Mauris eu diam non augue blandit volutpat sit amet vel nunc. Donec leo eros, tincidunt id ante ut, condimentum dictum orci.</div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Nullam id urna vel mauris eleifend congue. Aenean commodo augue nunc, a porta felis lacinia non. Suspendisse vitae facilisis tellus. Suspendisse gravida lectus quis nisi tincidunt, in facilisis ex lobortis. Curabitur facilisis tortor diam, et ultrices metus semper id. Donec at blandit sem. Proin pretium sagittis feugiat. Quisque sollicitudin vitae nibh in posuere. Cras vel laoreet arcu. Nulla facilisi. Etiam eget lacus eget lacus volutpat accumsan non a purus. Pellentesque eleifend, ante non ultrices posuere, ligula arcu convallis arcu, ac venenatis velit diam a odio. Fusce quis consectetur nisi.</div>
</div>
</div>
</div>
